header{
    background-color: crimson;
    color: black;

}

.cabecalho-imagem{

    width: 20%;
}

.cabecalho{
    background-color: black;
    color: azure;
    display:block   
} 

.cabecalho-lista-item{



}